body {
  background-color: #d1eaf3;
}

.page-footer {
  display: flex;
  flex-direction: column;
  background-color: #266f6e;
  padding-bottom: 10px;position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow:hidden;
}

.footer-copyright {
  flex: 1 0 auto;
  text-align: center;
}

nav {
  background-color: #218e9e;
}

nav .brand-logo {
  cursor: pointer;
  margin-left: 10px;
}

.btn-login {
  background-image: url('./google_login.png');
  background-repeat: no-repeat;
  width: 200px;
  right: 10px;
  height: 47px;
}

a.waves-effect.waves-light.btn.logout {
  background-color: #d84300;
}

a.waves-effect.waves-light.btn.logout:hover {
  background-color: #c10b0b;
}

.credits {
  margin: 0 10px;
}

span.badge {
  margin-top: 20px;
}

span.badge.new {
  font-weight: 400;
  font-size: 1rem;
  background-color: #26a69a;
  border-radius: 3px;
}

.landing {
  text-align: center;
}

.fixed-action-btn {
  right: 65px;
  margin-bottom: 100px;
}

form {
  width: 75%;
  left: 30px;
  margin-left: 10%;
  background-color: #2d3e5a;
}

@media (max-width: 480px) {
  form {
    width: 100%;
    margin-left: 0;
  }
}

.confirmation {
  text-align: center;
}